body{
    font-family: "arial narrow", "微软雅黑";
    background-color: rgba(20,50,30,.6);
    box-shadow: 0 1px 10px #ccc;
}
h1{
    background: url(../img/people.png) left bottom no-repeat;
    padding-left: 20px;
    font-size: 18px;
    line-height: 16px;
}
